<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rubenbaskaran.com.brainspeedchallenge">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Menus.NumbersMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Games.NumbersGameActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Highscores.HighscoreActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Menus.AdditionMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Menus.SubtractionMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Menus.MultiplicationMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="rubenbaskaran.com.brainspeedchallenge.Menus.DivisionMenuActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>